#profile{
      
    .title {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
    
    h1, h2, h3, h4 {
        color: #00acc1 !important;
        // font-weight: 100;
        font-size: 3rem;
    }
    
    a {
        text-decoration: none;
        color: #fff;
    }
    .skills{
        width: 100%;
    }
}
