.my-container{
  background-color:#f2f2f2;
  // height: 100vh;
  margin: 0 auto;
}

.cursor-pointer{
  cursor: pointer;
}

.spinner-class{
  position: absolute;
  top:50% !important;
  left:50% !important;
  font-size:55px !important;
}
